<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="42219steamfistinnovations.HadriansWall" Publisher="CN=25D30E88-145B-49A5-B5FE-096169CFB80C" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="75b159de-5961-4e58-83ea-a03bbfd04b9e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Hadrian's Wall</DisplayName>
    <PublisherDisplayName>steamfistinnovations</PublisherDisplayName>
    <Logo>Assets\StoreLogo.jpg</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HadriansWall.WindowsPhone.App">
      <m3:VisualElements DisplayName="Hadrian's Wall" Square150x150Logo="Assets\Square150x150Logo.jpg" Square44x44Logo="Assets\Square44x44Logo.jpg" Description="HadriansWall.WindowsPhone" ForegroundText="light" BackgroundColor="black">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.jpg" />
        <m3:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.jpg" Square71x71Logo="Assets\Square71x71Logo.jpg">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.jpg" BackgroundColor="black" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="landscape" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
</Package>